body {
    background-color: aquamarine;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', arial;
}

.container {
    display: flex;
    flex-direction: column;
}
.header {
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 18px;
}

.top-button {
    display: block;
    text-align: center;
    width: 110px;
    border: none;
    background: #3882f6;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    font-family: 'Roboto', arial;
    text-decoration: none;
    font-weight: bold;
}

.top-content {
    display: flex;
    background-color: blue;
    padding: 0 60px;  
   


}

.top-moon {
    width: 200px;
    background-color: red;
}

.top-paragraph,
.top-content-h2 {
    display: flex;
    background-color: blueviolet;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    text-align: left;
   margin:0;
}


.top {
    display: flex;
    background-color: orange ;
}